#calc{
    width: fit-content;
    background-color:rgb(35, 11, 46);
    margin: 20vh auto;
    display: flex;
    justify-content: center;
    padding: 1%;
    box-shadow: indigo;
    border-radius: 2%;
}

#heading{
    width: 100%;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

#disp{
    width: 98%;
    height: 60px;
    margin: auto;
    transition: 2s;
    border-radius: 2%;
}

.btn{
    background-color:rgb(29, 26, 14);
    color: white;
    width: 65px;
    height: 40px;
    margin: 1px;
    border: none;
    border-radius: 10%;
    transition: 0.3s;
}

.btn:hover{
    box-shadow: 0px 0px 10px inset rgb(255, 255, 255);
    transform: scale(0.7);
}

.opr{
    background-color: indianred;
    color:white;
}

#zero{
    width: 135px;
}

