#back{
    transition: 1s;
    background-color:lightblue;

}
#outer{
    width:200px;
    height:200px;
    background-color:yellow;
    margin: 40vh auto 10vh auto;
    box-sizing: border-box;
    transition: 1s;
    border-radius: 50%;
}

