body{
	margin:0px;
	font-family: Roboto;
}

/*Body Header*/
/*make the image as background
image should show parallax effect
it should cover the whole page
opaque
slight blurred */
#body-header{
	height:65vh;
	/*65% of the part that is visible currently - relative to browser screen visible*/
	/* opacity: 0.90; */
	background-image: url('dark.jpg');
	/* background-image:url('macbook_mouse.jpg'); */
	/*background-image: url('macbook_mouse.jpg');*/
	
	background-size:cover;
	/*center or contain in that area*/
	/*cover the entire area of the image*/
	background-position: center;
	/*place the image in the center of the browser*/
	background-attachment: fixed;
	/*It will stay fixed in that area of the browser only*/
	padding-top: 4vh;
}

/*Horizontal Navigation Lists*/
/*center
horizontal
white color
constant spacing
connected with the page
tranisition when hover
*/
.horizontal-list{
	font-size: 1.5rem;
	margin:0px;
	list-style: none;
	padding-left: 0px;
}

.horizontal-list li{
	display: inline-block;
	/*Initially the list is block - one in one line*/
	/* Making the vertical list a horizontal one */
	color:white;
	margin: 0px 0px 0px 2rem; /* Gap between the words - in the list*/
}

.horizontal-list li a{
	color:rgba(255,255,255, 0.6);

	letter-spacing: 0.2rem;
	font-variant-caps: titling-caps;
	text-decoration: none;
	/*remove the list styles - underline removed*/
}

nav .horizontal-list li a{
	transition: color 0.5s, border-bottom 2s;
	/*traisition , property time dealy, another proprty time delay */
}

li {
    margin-bottom: 10px;
}

.show-selection:hover{
	color:white;

}

.cool-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
	transition: width .3s;
}

/**/

.text-center{
	text-align: center;
}

/*Name and social icons*/
/*
the icons should be constant from all the sides
the maximum width and height should be constant
*/
/*define the property once and it will stay there - no need to write everytime for decoration-none and other*/
#name-social-container{
	margin-top: 23vh;
}

#my-name{
	font-size: 3rem;
	letter-spacing: 0.3rem;
	color:white;
	font-weight: 700; /*bold*/
	margin-bottom: 0.5rem; /*margin for icons*/
	/*
	border:solid;
	border-width: 3px;
	border-color: rgba(230,196,196,0.2);*/
	/*box-shadow: 0px 0px 30px 20px rgba(230,196,196,0.2) inset;*/
	/*box-shadow: 0px 0px 40px 40px rgba(230,196,196,0.4);*/
	/*horx offset, vertical offset, blur radius, spread radius, color*/

}

/* Create the social icons and place them
constant fixed padding on all 4 sides required
they too need to be horizontal
when hover over them - make the box shadow
*/
.social-icons li a i{
	/*this makes all the icons of the same size
	if the image is small it will */
	width: 15px;
	height: 15px;
	padding: 20px;
	font-size: 1rem;
	border-radius: 50%;
	background-attachment: absolute;
	transition: 0.5s;

}

/* made for the universal social icon if any*/
.social-icons li a i:hover{
	/*font-size: 2rem;*/
	box-shadow: 0px 0px 10px 1px rgba(230,196,196,0.4);
	transition: 0. 1s;

}

/*tried to change the color of each icon individually
the box shadow for each color was not providing opacity for each color
due to that it was covered fully

so made it internal color of the page and not the box shadow
*/

/*specific style for each icon - optional*/
#linkedin:hover {
	/*box-shadow: 0px 0px 40px 40px blue;*/
	color:blue;
}

#stack:hover {
	/*box-shadow: 0px 0px 40px 40px darkorange;*/
	color:darkorange;

}

#google:hover {
	/*box-shadow: 0px 0px 40px 40px green;*/
	color:green;
}

#facebook:hover {
	/*box-shadow: 0px 0px 40px 40px darkblue;*/
	color:darkblue;
}

#quora:hover {
	/*box-shadow: 0px 0px 40px 40px red;*/
	color:red;
}

/*for all the sections present*/
section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*align works on cross axis - horizontal
	main-axis - vertical
	no need to give margin for elements*/
}

/*new pseudo class*/
section:nth-child(2n){
	background-color: rgb(197, 243, 255);
	/* background-image:linear-gradient(to top , rgb(255, 255, 255),rgb(167, 202, 255), rgb(255, 255, 255)); */

}
section:nth-child(2n+1){
	/* background-image:linear-gradient(to top , rgb(255, 255, 255),rgb(167, 202, 255), rgb(255, 255, 255)); */

	background-color: rgb(254, 255, 255);
}

/*order matters the most*/
/*section:target{
	background-color: cyan;
}*/

.section-heading{
	width: auto;
	padding: 20px 10px 10px;
	/*margin: 10px auto;*/
	font-weight: 400;
}

.section-heading span{
	font-size:40px;
	color: #2857a4;
	display: inline-block;
	padding-top: 10px;
	margin-right: 0.5rem;
}

/*About Section*/

#about{
	height: auto;
	/*automatic height adjustment*/
	width: 80%;
	margin:auto;
	position: relative;
	/*appear image above the about backround*/
	/*when about section is relative - it will appaear above other items*/
	overflow-wrap: break-word;

}

#my-image{
	height: 13rem;
	width: 13rem;
	margin: auto;
	margin-top: -12vh;
	margin-bottom: 0vh;
}

#my-image img{
	/*adjust the height according to the parent*/
	/*max height of the parent*/
	height: 100%;
	width: 100%;
	/*padding: 2px;*/
	/*it can change the distance bw border and contetn*/
	/*border:solid;*/
	border-radius: 50%;
	/*border-width: 1px;*/
	/*border-color: white;*/
	transition: box-shadow 0.2s;
}

#my-image img:hover{
	box-shadow: 0px 0px 60px -10px rgba(230,196,196,0.9);
	transition: box-shadow 0.4s;
}

#about p{
	/*margin: auto;*/
	width: 70%;
	font-style: bold;
	font-family: sans-serif;
	font-weight: bold;
	color:gray;
	font-size: 1.2rem;
}

/*Skill section*/

.skills-display{
	width:70%;
	/*height: 250px;*/
	/*border: 2px solid black;*/

	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
/*items in the flex automatically align themselves as per the required aread*/

.skill-progress{
	width: 12rem;
	height: 2.6rem;
	background-color: lightgray;
	border-radius: 4rem;
	margin: 40px;
	/* border-radius: 20%; */

	/*border: 2px solid black;*/
}

.skill-progress>div{
	border-radius: 0.9rem 0px 0px 0.9rem;

}

.skill-name span{
	color:white;
	font-size: 1.4rem;
	margin-left: 8px;
	/*text-align: center;*/
}


.timeline{
	position: relative;
	width: 75%;
	/*border: 2px solid black;*/

}

.timeline-box{
	position: relative;
	margin:5px;
	width: 40%;
	left:5%;
	min-height: 150px;
	/*border: 2px solid black;*/
	text-align:right;
}

.timeline-box:nth-child(2n){
	left:53%;
	/*align-items: right;*/
	text-align: left;
}

.timeline-box::after{
	content: '';
	/*over the blank content - space we are providing border*/
	position: absolute;
	top:30%;
	border-radius: 50%;
	width: 0.5rem;
	height: 0.5rem;
	background-color: red;
	z-index: 1;
}
.timeline-box:nth-child(2n+1)::after{
	right: -12.5%;
}

.timeline-box:nth-child(2n)::after{
	left: -9%;
}

.timeline-box:nth-child(2n+1) span i{
	position: absolute;
	top:5%;
	left:-20%;
	font-size: 4rem;
	color:orange;
}

.timeline-box:nth-child(2n) span i{
	position: absolute;
	top:5%;
	right:-20%;
	font-size: 4rem;
	color:blue;
}

.timeline-divider{
	position:absolute;
	height: 75%;
	/*timeline length*/
	width:0;
	border:3px dashed #0096fa6b;
	top:8%;
	left:50%;
}


.timeline-traveller{
	position: sticky;
	top:25%;
	/*where we want it to start from top*/
	transform: rotate(90deg);
	z-index: 2;
	font-size: 3rem;
	color:blue;

}

.position-name{
	display: inline;
	color: #2857a4;
	font-weight: 900;
}
.position-name:before{
	content: '';
	background-image: url()
}
.company-name{
	color: darkorange;
	font-weight: 500;
	margin-bottom: -20px;

}
.time-duration{
	color: gray;
	font-weight: 500;
}
.job-description{
	color: gray;
}

/*border shadow*/
/*adjustment of font left*/

/*max-width if screen size is small then do this*/
/*min-width if screen size is big then do this*/

@media (max-width: 800px){
	.timeline-box{
		margin:35px;
		width: 60%;
		left:5% !important;
		text-align: right !important;
	}

/*	.timeline-box:nth-child(2n){
	}
*/
	.timeline-divider{
		left:90%;
	}

	.timeline-box:nth-child(2n+1) span i{
		left:-20%;
		font-size: 2rem;
	}

	.timeline-box:nth-child(2n) span i{
		left:-20%;
		font-size: 2rem;
	}


	.timeline-box:nth-child(2n+1)::after{
		right: -33%;
	}

	.timeline-box:nth-child(2n)::after{
		left: 130%;
	}



}

.port{
	width: 25rem;
	height: 25rem;
}

.portfolio-display{
	width:90%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.portfolio-project{
	/*border-radius: 20px 0px 0px 20px;*/
	
	/*background-image: url('https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png');
	width: 60px;
	height: 60px;
	*/
	/*background-image:url('https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg');*/
	/*background-image: url('macbook_mouse.jpg');*/
	
	background-size:cover;
	/*center or contain in that area*/
	/*cover the entire area of the image*/
	background-position: center;
	/*place the image in the center of the browser*/
	background-attachment: fixed;

	height: 100%;
	width: 100%;
	/*padding: 2px;*/
	/*it can change the distance bw border and contetn*/
	/*border:solid;*/
	/*border-width: 1px;*/
	/*border-color: white;*/

}


#portfolio-image img{
	height: 100%;
	width: 100%;
	/*border-radius: 50%;*/
	border:0.5px solid rgba(196,196,196,0.3);

	box-shadow: 0px 0px 20px 5px rgba(196,196,196,0.9);

	transition: box-shadow 1s;
}

#portfolio-image img:hover{
	/*border-radius: 50%;*/
	/*box-shadow: 0px 0px 20px -10px rgba(0,196,196,0.9);*/
	box-shadow: none;
	transition: box-shadow 1s;
}


#contact{
	background-image:linear-gradient(to top right, blue,purple);
	color:white;
}

#contact span{
	color: white;
}

.contact-display{
	width:90%;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 10vh;
}

#contact-form{
	width: 60%;
	height: 100%;
	text-align: center;
	/*align-content: center;*/
}



#contact-details{
	width: 40%;
	height: 100%;
	text-align: left;
	overflow-wrap: break-word;
	margin-bottom: 10px;
	margin-top: 0;

}

#contact-details i{
	width: 10px;
	height: 10px;
	margin-right: 10px;
}

.input-box{
	margin:auto;
	margin-bottom: 2rem;
	padding:8px;
	display:block;
	border:none;
	border-bottom:3px solid #ccc;
	color:white;
	background-color: transparent;
	width:70%

}

input::placeholder{
  color: #ffffff;
}

textarea::placeholder{
  color: #ffffff;
}

.submit-box{
	padding:8px;
	display:block;
	border:none;
	border-bottom:1px solid #ccc;
	width:40%;
	margin:auto;
	/*opacity: 0.4;*/
	background-color: transparent;
	color:white;
}
.submit-box:hover{
	box-shadow: 0px 30px 26px 10px rgba(255,255,255, 0.6) inset; 
	transition: 1s;
}

/*Percentage Classes*/
.eighty-five-percent{
	width: 85%;
	height: inherit;
	/*border-radius: 20%;*/
}

.ninety-five-percent{
	width: 95%;
	height: inherit;
	/*border-radius: 20%;*/
}

.ninety-percent{
	width: 90%;
	height: inherit;
	/*border-radius: 20%;*/
}

.seventy-five-percent{
	width: 75%;
	height: inherit;
	/*border-radius: 20%;*/
}

.sixty-five-percent{
	width: 65%;
	height: inherit;
}

.fifty-five-percent{
	width: 55%;
	height: inherit;
	/*border-radius: 20%;*/
}


.mb-blue{
	background-color: #2857a4;
}

.mb-orange{
	background-color: orange;
}

.mb-green{
	background-color: green;
}

.mb-red{
	background-color: red;
}

/*Common margin classes*/
.mb75px{
	margin-bottom: 75px;
}
/*margin below skill heading*/


/*https://ninjasfiles.s3.amazonaws.com/asset_0000000000000024_1550237299_codezen.png*/
/*https://ninjasfiles.s3.amazonaws.com/asset_0000000000000025_1550237330_codezen_2.png*/