/* keyframe is representing the state of the animation
conerting the square into circle
all the in between states of transition */

@keyframes changeShape{
    from{
        border-radius: 0%;
    }
    to{
        border-radius: 50%;
    }
}
/* it represent 0 to 100% 
we can choose things in mid for animation too
like 
0%{}
25%()
50%{}
100%{} */



/* can choose infinite or limited number of time we want it to work 
2, 3, 4 or infinite
we can also add alternate in the attribute to make it transition back to orignal state again 
after completing the work */


/* 4 times - from to to, to to from, from to to, to to from */

/* cubicBessier function to add more curves and transition in state
 */
div{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left:20%;
    background-color: aquamarine;
    animation: changeShape 0.55s ease-in-out infinite alternate;
}
