@keyframes rotate_me{
    from{
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    height: 50px;
    width: 50px;
    }
    to{
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    height: 400px;
    width: 400px;

    }
}


.cube{
    width: 200px;
    height: 200px;
    position: absolute;
    margin:300px; 
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: 1s;
    animation: rotate_me 4s ease-in-out infinite alternate;
}

.face{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 20%;
    left: 20%;
    transition: all 4s;
}

.one{
    background-color: orange;
    transform: rotateY(0deg);
}

.two{
    background-color: red;
    transform: rotateY(90deg) translateZ(-100px) translateX(-100px);
}

.three{
    background-color: lightblue;
    transform: rotateY(90deg) translateZ(+100px) translateX(-100px);
}

.four{
    background-color: purple;
    transform: rotateY(0deg) translateZ(+200px);
}

.five{
    background-color: green;
    transform: rotateX(90deg) translateY(100px )translateZ(-100px);
}

.six{
    background-color: blue;
    transform: rotateX(90deg) translateY(100px) translateZ(100px);
}

.face:hover{
    /*transform: rotateX(-25deg) rotateY(25deg);*/
    height: 50px;
    width: 50px;
    transition: 1s;
}
