/* keyframe is representing the state of the animation
conerting the square into circle
all the in between states of transition */

/*https://animate.style/*/
h1{
    text-align: center;
}

.main{
    width:100%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    border: 1px solid black;
}

.box{
    width: 10rem;
    height: 70vh;
}

.button{
    background-color: purple;
    opacity: 40%;
}

.button:hover{
    /* referring directly to the animation's @keyframe declaration */
    /*animation: bounce infinite; */
    /*transform: scale(0.1);*/
    opacity: 100%;
    /*animation: backOutUp 2 alternate;*/
    animation: rubberBand 1;

    animation-duration: 1s; /* don't forget to set a duration! */
    background-color: purple;


}

.button:not(:hover){
    /* referring directly to the animation's @keyframe declaration */
    /*animation: bounce infinite; */
    /*transform: scale(0.1);*/
    opacity: 80%;
    animation: backOutUp 2 alternate;
    /*animation: rubberBand 2;*/

    animation-duration: 0.6s; /* don't forget to set a duration! */
    background-color: purple;


}