
/*pre  {
  color:red;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}
*/
pre code {
  color:red;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

/*footer {
  display: block;
  position: absolute;
  bottom: 0rem;
  margin-left: auto;
  left:40%;
}
*/

footer{
  /*height: 400px;*/
  /*width: 800px;*/
  /*background: red;*/
  position: static;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}